body {
    font-family: sans-serif;
    margin: 0;
    background-color: rgba(52, 48, 69, 1);
}

.container{
    background-color: rgba(52, 48, 69, 1);
    position: relative;
    text-align: center;
    border-color: black;


}

.mainImage {
    border-radius: 20px;
    display: block;
    border-radius: 9999px;
    margin-top: 50px;
}

.threest-section-main-text {
    position: absolute;
    top: 14.5%;
    left: 48%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    z-index: 2;
    padding: 10px 20px;
}

.title {
    position: absolute;
    top: 19%;
    left: 50%;  
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 25px;
    z-index: 2;
}

.shadow {
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.32);
    border-radius: 9999px;
    z-index: 5;
    padding: 10px;
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translateX(-50%);
}

.backround {
    width: 50px;
    height: 50px;
    background-color: rgba(192, 183, 232, 1);
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .8px;   
    margin-top: 6px;
    position: absolute;
    
}

.arrow-png {
    width: 20px;
    height: 15px;
    margin-top: 5px; 
    z-index: 6;
    position: relative;
}


.logos {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 90px;
    margin-top: 90px;
    flex-wrap: wrap; 
}

.logos img {
    max-width: 200px;
    height: auto;
}

.section4 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
}

.left-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 110px;
}

.sectionLeft {
    color: white;
    font-size: 36px; 
    margin: 0;
}

.arrow {
    display: flex;
    align-items: center;
    gap: 15px;
}

.sectionLeftp {
    font-size: 28px;
    color: white;
    margin: 0;
}

.section4arrow {
    width: 210px; 
    height: auto;
}

.lorem-text{
    color: #fff;

}

.zeroone{
    width: 159px; 
    height: 159px; 
    background-color: rgba(192, 183, 232, 1); 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: rgba(52, 48, 69, 1);
    margin-left:19px;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backround-shaadow{
    width:198px;
    height: 198px;
    border-radius: 50%;
    background-color: rgba(13, 13, 13, 0.32);
    margin-left:170px ;
    margin-top: 110px;
}

.backround-shjdow2{
    width:198px;
    height: 198px;
    border-radius: 50%;
    background-color: rgba(13, 13, 13, 0.32);
    margin-left:480px;
    margin-top:-209px;
    margin-bottom: 20px;
}

.zerwne2{
    width: 159px; 
    height: 159px; 
    background-color: rgba(192, 183, 232, 1);
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: rgba(52, 48, 69, 1);
}

.backround-shudow3{
    width:198px;
    height: 198px;
    border-radius: 50%;
    background-color: rgba(13, 13, 13, 0.32);
    position: absolute;
}

.zerqne3{
    width: 159px; 
    height: 159px; 
    background-color: rgba(192, 183, 232, 1); 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: rgba(52, 48, 69, 1);
    margin-left:19px;
    margin-top: 21px;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zerone4{
    width: 159px; 
    height: 159px; 
    background-color: rgba(192, 183, 232, 1); 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: rgba(52, 48, 69, 1);
    margin-left:19px;
    margin-top: 21px;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backround-shadow4{
    width:198px;
    height: 198px;
    border-radius: 50%;
    background-color: rgba(13, 13, 13, 0.32);
    margin-left:520px;
    position: absolute;
    margin-left: 1125px;
    margin-top: 280px;
}


@media (max-widht:760px) {
    .threest-section-main-text{
        font-weight: 80px;
    }
}